*{margin:0;padding:0;}

.box{width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;z-index:9999;display:none;}
.box_inv{width:100%;height:100%;background:rgba(0,0,0,0.9);position:fixed;z-index:9999;display:none;}
button{margin:200px 200px;width:40px;height:30px;background:orange;border:0;outline:none;color:#fff;}
.sign-forget{width:560px;height:auto;margin:0 auto;background:#f3f3f3;position:fixed;top:50%;left:50%;margin-left:-275px;margin-top:-228px;z-index:99999;display:none;border-radius:10px;border: #81c0dd 5px solid;}
.sign-in1{width:500px;height:70px;position:relative;}





.sign3{width:38px;height:37px;background:url(../images/cancel.png) no-repeat;-webkit-background-size:38px 37px;background-size:38px 37px; position:absolute;top:0px;right:-15px;}
.sign3:hover{width:38px;height:37px;background:url(../images/cancel.png)no-repeat;-webkit-background-size:38px 37px;background-size:38px 37px; position:absolute;top:0px;right:-15px;}
.sign-in2{font-size:20px; text-align:center;color:#ff6600;}
.sign-in3{font-size:22px ;width:190px;height:50px;background:#ff7800;color:#f4e8df;position:absolute;bottom:50px;left:155px;text-align:center;line-height:50px;border-radius:6px;}

.sign{width:560px;height:auto;margin:0 auto;background:#f3f3f3;position:fixed;top:50%;left:50%;margin-left:-275px;margin-top:-228px;z-index:99999;display:none;border-radius:10px;border: #81c0dd 5px solid;}
.sign-in1{width:500px;height:70px;position:relative;    margin: 0px auto;}

.sign2{line-height:48px;color:#0089d1;font-size:20px;  padding-top: 30px;text-align:center;}
.sign2 span {
   font-weight:bold;    font-size: 18px;
}
.sign3{width:38px;height:37px;background:url(../images/cancel.png) no-repeat;-webkit-background-size:38px 37px;background-size:38px 37px; position:absolute;top:0px;right:-15px;}
.sign-in2{line-height:150px;font-size:20px; text-align:center;color:#3e3e3e;    padding-top: 64px;}
.sign-in3{font-size:22px ;width:90px;height:50px;background:#ff7800;color:#f4e8df;position:absolute;bottom:50px;left:108px;text-align:center;line-height:50px;border-radius:8px;}
.sign-in4{font-size:22px ;width:90px;height:50px;background:#d1cfcd;color:#fff;position:absolute;bottom:50px;right:108px;text-align:center;line-height:50px;border-radius:8px;}

.sign-data-right {
    float: left;
	width: 43%;
}
.sign-data-error{ float: left;
	width: 25%;line-height:38px;color: #e1475a;font-size: 16px;text-align: left;
    padding-left: 10px;    font-weight: 100;}
.sign-data-left {
	 line-height: 39px;
    float: left;
	width: 32%;
	font-size: 16px;
	text-align: right;
    padding-right: 20px;
}
.sign-data-row {
    display: table;
    width: 100%;    padding: 5px 0px;
}


.sign-forget input.form-control{
    height: 38px;
}



.sign::before{    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 128px;
    background-image:url(../images/sing-bg.jpg);background-repeat:no-repeat;    background-position: 0px 11px;}


.sign-forget::before{    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 560px;
    height: 128px;
    background-image:url(../images/sing-bg.jpg);background-repeat:no-repeat;    background-position: 0px 32px;}

.sign-data-button {
    padding-top: 3px;
    height: 122px;
}
.sign-data-ver {
    line-height: 65px;padding-left: 68px;
}
.sign-data-ver span {
    font-size: 15px;
    padding-left: 15px;
	color:#0089d1;
	text-decoration:underline;
}
.sign-cleared {
    float: left;
	width: 90px;
    height: 38px;
	background-image:url(../images/sing-b1.png);background-repeat:no-repeat;    line-height: 37px;
    color:#818080;margin-left: 20px;text-align: center;
}
.sign-determine {
    float: left;
	width: 90px;
    height: 38px;
	background-image:url(../images/sing-b2.png);background-repeat:no-repeat;    line-height: 37px;
   color:#fff;text-align: center;
}

.sign-butto {
    margin: 0px auto;
    width: 200px;
    padding-top: 27px;

}
.sign-footer {
    margin: 0px auto;
    text-align: center;
    padding-top: 50px;
}

.sign-footer span {
    font-size: 15px;
    
    color: #0089d1;
    text-decoration: underline;
}

.sign-in2 p {
    line-height: 22px;
    margin:0px 0px ;
	font-size:16px;
	margin-top: -15px;
}
.sign-forget .sign-footer {
    margin: 0px auto;
    width: auto;
    padding-top: 50px;
    text-align: center;
}
.sign-forget .sign-footer span {
    padding-left: 0px;
}
.sign-forget  .sign-butto {
    padding-top: 20px;
}
.sign-forget .sign-data-button {
    padding-top: 0px; 
     height: 100px;
}

.posbox {
    width: 260px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -170px;
    z-index: 99999;
    display: none;
  }

  /* posPrint */
  .posPrint {
    width: 260px;
    height: auto;
    background: #fff;
  }
 
.belowlogo {
    width: 125px;
    display: inline-block;
} 

.posPrint .resultout {
    padding: 0px;
}
.posPrint hr {
    padding: 0px;
    margin: 0px;
    border: 1px dashed #dedede;
}
.belowleft {
    display: inline-block;
    width: 30%;
}
@media (min-width: 100px) and (max-width: 560px) {


 .sign {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0px; 
    margin-top:0px; 
    z-index: 99999;
    display: none; 
    border-radius: 0px;
    border: #81c0dd 5px solid;


}
.sign-out{    background: #98e0f9;}
.sign::before {
background-image:none;
    width: 100%;

}



 .sign-forget {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0px; 
    margin-top:0px; 
    z-index: 99999;
    display: none; 
    border-radius: 0px;
    border: #81c0dd 5px solid;


}
.sign-forget::before {
background-image:none;
    width: 100%;

}


.sign-forget .sign-in2 {
    padding-top: 78px;
}
.sign-forget .sign-data-row {

   padding: 0px 0px;
}
.sign-forget .sign-data-ver {
    line-height: 34px;
}

.sign-forget .sign-data-ver {
    padding-top: 8px;
}



.sign3 {

 right: -105px; 

}
.sign3:hover{  right: -105px; }

.sign-data-right {
    float: left;
    width: 100%;
    padding: 0px 20px;
}
.sign-data-left {
    line-height: 39px;
    /* float: left; */
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding-right: 20px;
}
.sign-butto {

    padding-top: 0px;
}

.sign-in1 {
    width: 50%;    height: 55px;
}
.sign2 img {
    width:100%;
}







}

@media (min-width: 411px) and (max-width: 560px) {

.sign-data-ver {

    padding-left: 0px;
}
	
	.sign3 {
    right: -97px;
}
.sign3:hover{  right: -97px;}
}

@media (min-width: 320px) and (max-width:411px) {

.sign-data-ver {
    padding-left: 16px;
}

.sign3 {
    right: -65px;
}
.sign3:hover{ right: -65px;}


	}
@media (min-width:100px) and (max-width:320px) {

.sign3 {
    right: -65px;
}
.sign3:hover{ right: -65px;}
	}


