@charset "utf-8";
/* CSS Document */
@media (max-width: 360px) {
	
	#fh5co-header .navbar-brand {
    margin-top: 12px;
}
	}

@media screen and (max-width: 480px) {
  #fh5co-header > .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-xxs-12 {
    float: none;
    width: 100%;
  }  
  .owl-carousel .owl-controls .owl-nav {
    display: none;
  }  
  img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
 img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }  
 a > img.fh5co-align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }  
  a > img.fh5co-align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }  


  }



@media (min-width: 768px) {
	
  .nav-justified > li, .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
  
  .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }	
	
  .navbar {
    border-radius: 4px;
  }	
  
   .navbar-header {
    float: left;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }   
  
    .container > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
    .navbar-static-top {
    border-radius: 0;
  }
  
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -25px;  
  
}

  .navbar-toggle {
    display: none;
  }
  
  
    .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }

  
    .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
    .navbar-text {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
  }
  .navbar-left {
    float: left !important;
  }

  .navbar-right {
    float: right !important;
    /*margin-right: -25px;*/
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }



		}
		



@media screen and (max-width:767px) {
  #fh5co-content {
    padding: 0 0 4em 0;
  }
    .fh5co-intro {
    padding: 0px 0px;
  }
  

  .fh5co-nav-toggle {
    display: block;
  }  
  .fh5co-spacer-xlg {
    height: 70px;
  }
  .fh5co-spacer-lg {
    height: 50px;
  }  
 .fh5co-spacer-md {
    height: 30px;
  }    
  .fh5co-spacer-sm {
    height: 20px;
  }  
 .fh5co-spacer-xs {
    height: 20px;
  }    
#fh5co-header {
    position:inherit;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    margin: 10px 0px;
}

.header-menu {
    height: 48px;
}

.header-menu span {
    float: left;
    line-height: 43px;
    padding-left: 7px;
}
.header-menu i {
    float: left;
}
#fh5co-header > .navbar li {
    border-bottom: 1px #ddd solid;
}
	#fh5co-header .navbar-brand {
    margin-top: 14px;
}
.menu-cus {
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 28px;
	text-align:center;
	margin-top: 12px;
	display:inline;
}
.icon-menu-cus{
	display: block;
    width: 50px;
    height: 50px;
    background: url(../images/menu-icon.png) no-repeat;
    vertical-align: middle;
    margin: 0 auto 0px auto;
	background-position: 0px -240px;
	}
li.menu-cus-box {
    display: none;
}

.right_month .nav-tabs > li{width:inherit;}


}
@media screen and (max-width:992px) {

.col-md-12.in-all {
    min-height:inherit;
}

.col-md-2.in-left {
    min-height:inherit;
}

.in-left-title-data {
   float: left;
}

.col-md-2.in-left {
    padding: 0px;
    display: table;width:100%;
}
.account-data-in {
    float: left;   
    
    background-color: #f4f4f4; 
    border-right:1px solid #ddd;
	line-height: 46px;
	font-weight: bold;
	display:table;  
}
.account-data-in:hover {
    background-color: #0089d1;
}

.account-data-in span {
    margin: 40px;
	padding:0px;
}

.account-data h3 a {
 /*background:url(../images/sprite.png) 15px 13px no-repeat; 
 background-image:url(../images/sprite.png); */
 background-repeat:no-repeat;
 background-position:right 12px top 14px;
  display: block;
  margin: 0;  
  text-decoration: none;
  font-weight: normal;
 font-weight: bold;padding-right:12px;

}
.account-data h3.open a { background-position:right 12px top -17px;    }

.account-data h3:hover {
    background: #f4f4f4;
    
    /* border-radius: 43px; */
}
.account-data a:hover {
    color: #5a5a5a;
}
.account-data h3.open {
    background: #0089d1;
}
.in-left-menu {
    border-top: 1px solid #fff;
    background-color: #e7f9fc;
}


.data-in_td {
       padding: 0px 0px 0px 40px;

}

#fh5co-main {
    padding-top: 0em;

}



.in-day-time {

    float: inherit;
}


.in-day-ip {

    float: inherit;
}
.in-day {
    color: #fff;
    padding: 0px 0px 10px;
	text-align:center;
}



.in-right-row.data-footer {
    padding:10px 0px;
	text-align:left;
}

.col-md-10.in-right {
border-left: none;min-height: inherit;
 
}

.col-md-6.data-title {
    text-align: center;
}
.col-md-6.data-print {
    text-align: center;
}
.col-md-6.data-print {
    margin: 20px 0px 0px;
}
.inleft-all {
    margin: 20px auto;
}

.data-day{text-align:left;padding:0px 25px;}
.data-name{text-align:left;padding:0px 25px;}


.account-data-in.data-active {
    background-color: #80bce0;
    color: #fff;

}

.modal-body {
    display: table;width:100%;
}

.data_tr {
    border: 1px #ddd solid;
}


.index-all {
    background: #fff;
    display: table;
    border-radius: 0px;
}

.index-link li {

    width: 47%;
}
.col-md-12.in-all {
    background-position:bottom;   background-image:url(../images/bg.jpg);background-repeat:repeat-X;  background-position:left bottom;background-color:#fff; 
}

 .con-p .col-md-12.in-all {
   min-height: 600px;
}
.col-md-12.pos {
    text-align: left;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.col-md-12.in-left {
    padding: 0px 0px;
}




.rwd-table tbody {
    border: none;
}
 .rwd-table th, .rwd-table td:before {
                    color: #25517d;
                    font-weight: bold;
					background-color:inherit;
					border-right:none;
					width:126px;
 }
            .rwd-table th, .rwd-table td {
				border:none;
            }
            .rwd-table th, .rwd-table td:last-child {
				border-bottom: none;
            }	
				
			.rwd-table td {
				text-align: left;
			}
			

            .rwd-table tr {
              /* border-bottom:1px solid #716f70;*/

            }


.data-table-in.col-md-12.col-sm-12 {
    border: 1px solid #a7c1cf;
}



			
td.data-last {
    display: none;
}
.qa-in {
    margin: -10px 10px;
}

.wrap {
    max-width: 100%;
    padding: 10px 30px 15px;
    margin: 0 auto;
}
.index-bg{padding-bottom:0px;background-color:none;}
.in-left-row {

    padding: 10px 0px;
}
.col-md-10.in-right {

        padding-right: 20px;
    width: 90%;
    margin: 0px auto;background-color: transparent;
}

.qa-p {
    margin: 0px 20px;
}
.con-p{padding-top: 7.6em;}
.fh5co-intro {
 padding: 2em 0 0;
}
.col-md-6.data-title {
    padding-top: 20px;
}
.con-table-row {
margin:0px 50px;
}
.qa-p .nav-tabs > li{
	    width: 160px;
	}

#fh5co-header .navbar-brand {
  margin-left: 80px;
}
caption {
    padding-left: 15px;
}
.in-right-row {
    text-align: left;
}
.resultout-search span {
    padding-left: 19px;
}
.indexip {

	 
        padding: 20px 36px 10px;

}
.modify th, .modify td, .online	th, .online td {
  /*  border: 1px solid #a7c1cf;*/
    text-align: left;
    padding-left: 10px;
}



.input-online_1 {
    margin: 10px 0px;
	float: inherit;
}
.input-online_2 {
    margin: 10px 0px;
    width:100%;
	float: inherit;
}
.input-online_3{
    margin: 10px 0px;
     width:100%;
	float: inherit;
}


}



@media (min-width: 992px) {


/******table********/



            .rwd-table td:before {
                display: none;
            }

            .rwd-table th, .rwd-table td {
                display: table-cell;
                padding: 0.25em 0.5em;
            }

                .rwd-table th:first-child, .rwd-table td:first-child {
                    padding-left: 0;
                }

                .rwd-table th:last-child, .rwd-table td:last-child {
                    padding-right: 0;
                }

            .rwd-table th, .rwd-table td {
                padding: 0.3em !important;
            }


.con-p{padding-top:0em}

}
@media (min-width:768px) and (max-width: 992px){
	
.in-left-title {
    padding-top: 8em;
	}	

    .account-data-in {
         width:33.3%;
    }
	
	}
	

		
@media (min-width:768px) and (max-width: 1140px) {#fh5co-header > .navbar li {
   
    border-right: none;
}

.index-link li {

    width: 48%;
}

#index-main {
    padding-top: 6.8em;
}


.qa-p {
    margin: 0px 20px;
}
.qa-in {
    margin: 0px 20px;
}
.con-table-row {
margin:0px 50px;
}

}

@media (min-width:360px) and (max-width: 767px) {


#fh5co-header .navbar-brand {
    margin-top: 25px;
    width: 180px;
	background-size: 100%;
}
 
.index-link li {

    width: 46.8%;
}
	.button-qa {
    background-size: 100%;
}
#index-main {
    padding-top:0em;
}
.menu-logo {

    line-height: 74px;

}
.con-p{padding-top:0em}
.carousel-inner {
    height: 118px;
}
.fh5co-intro {
 padding: 0em;
}
.qa-p .nav-tabs > li{
	    width:inherit;
	}
.day-day table td{display: block; text-align: left;}
.day-calenda {
    width: 100%;
    display: table;
}
.tab-content p {
    line-height: 28px;
}
}




@media (min-width: 321px) and (max-width: 420px) {
   .account-data-in {
 
    width: 100%;

}
#fh5co-header .navbar-brand {
    margin-top: 22px;
    width:122px;
	background-size: 100%;
	    background-position: 0px 9px;
}
.logo-t {
 
    font-size: 18px;
}

.menu-logo {

   padding-left: 16px; 
}
.menu-logo {

    line-height: 77px;

}
.carousel-inner {
    height: 122px;
}
.tab-content p {
    line-height: 24px;
}

.pagination>li>a, .pagination>li>span {
    color: #5a5a5a;
    border: none;
    padding: 8px 12px;
}
.phone{width:50%}
.phone-one{    width: 39%;
    margin-top: 10px;}


}
@media (min-width: 100px) and (max-width: 359px) {

.index-link li {

    width: 45.6%;
}
#fh5co-header .navbar-brand {
    margin-top: 22px;
    width:122px;
	background-size: 100%;
	    background-position: 0px 9px;
}
.menu-logo {

   padding-left: 15px; 
}
.menu-logo {

    line-height: 71px;

}
.menu-cus {    margin-right: 64px;}

.logo-t {
 
    font-size: 15px;
}
#index-main {
    padding-top:0em;
}

.fh5co-intro {
 padding: 0em 0 0;
}
.carousel-inner {
    height: 122px;
}
.con-p{padding-top: 0em;}
.qa-p .nav-tabs > li{
	    width:inherit;
	}
.day-day table td{display: block; text-align: left;}
	.pagination>li>a, .pagination>li>span {
    color: #5a5a5a;
    border: none;
    padding: 8px 12px;
}
.phone{width:50%}
.phone-one{    width: 39%;
    margin-top: 10px;}
.panel-title {
overflow:hidden;
    height: 100px;
}	

.pagination>li>a, .pagination>li>span {
    padding: 8px 10px;
}


}

@media (min-width: 100px) and (max-width: 600px) {
.modify th, .modify td, .online th, .online td {
    float: left;
    width: 100%;
}

tbody.online {
    border: 1px #a7c1cf solid;
}


}


@media (min-width: 321px) and (max-width: 735px) {

.index-link li {

    width: 46.6%;
}

}










@media (min-width: 992px) and (max-width: 1130px) {
.index-link li {

    width: 47%;
}
.wrap {
    max-width: 100%;
    padding: 10px 24px 15px;
    margin: 0 auto;
}
#index-main {
    padding-top: 6.8em;
}
#fh5co-main {
    padding-top: 6.8em;
}
.inright-all {
    width: 155px;

}
.in-right-title-data {
    font-size: 16px;

}
}





@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}		
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {

}










