<?xml version="1.0" encoding="Big5" ?>
<properties>
  <category name="JDBC">
    <!-- JNDI Connect -->
    <property name="MODE"     value="JNDI"/>
    <property name="JNDINAME"     value="java:/comp/env/jdbc/tfbpg"/>
    <!-- <property name="JNDINAME_ERM" value="java:/comp/env/jdbc/erm"/> -->
    <!-- JDBC Connect -->
    <property name="URL"    value="jdbc:oracle:thin:@127.0.0.1:1521:orcl5"/>
    <property name="DRIVER" value="oracle.jdbc.driver.OracleDriver"/>
    <property name="USER"   value="tfbpg"/>
    <property name="PWD"    value="root"/>
  </category>
  <category name="SignImage">
    <property name="Algorithm"  value="desede"/>
    <property name="Cipher"     value="desede/ECB/NoPadding"/>
  </category>  
</properties>


